@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin'), local('Roboto-Thin'), url('robotothin86000.woff2') format('woff2'), url('robotothinfd30f.woff') format('woff'), url('robotothin6243f.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url('robotothinitalic7e97e.woff2') format('woff2'), url('robotothinitalic9cdf9.woff') format('woff'), url('robotothinitalic02d0b.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'), url('robotolight0458b.woff2') format('woff2'), url('robotolight334ad.woff') format('woff'), url('robotolighta8417.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('robotolightitalicf042d.woff2') format('woff2'), url('robotolightitalic1e353.woff') format('woff'), url('robotolightitaliceccc8.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url('roboto12efd.woff2') format('woff2'), url('robotodfd90.woff') format('woff'), url('roboto78304.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Italic'), local('Roboto-Italic'), url('robotoitalic5657a.woff2') format('woff2'), url('robotoitalic73e9e.woff') format('woff'), url('robotoitalic896ea.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'), url('robotomedium81087.woff2') format('woff2'), url('robotomedium751e2.woff') format('woff'), url('robotomediumf87ca.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('robotomediumitalic92d44.woff2') format('woff2'), url('robotomediumitaliced53e.woff') format('woff'), url('robotomediumitalic1905a.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url('robotobold093d8.woff2') format('woff2'), url('robotobold17142.woff') format('woff'), url('robotoboldd21c0.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('robotobolditalicb6cc4.woff2') format('woff2'), url('robotobolditalicc2a9d.woff') format('woff'), url('robotobolditalic1738b.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black'), local('Roboto-Black'), url('robotoblack12f35.woff2') format('woff2'), url('robotoblackd8dd7.woff') format('woff'), url('robotoblackc9fbd.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('robotoblackitalic23dfe.woff2') format('woff2'), url('robotoblackitalic25f01.woff') format('woff'), url('robotoblackitalicee838.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
